.NavBar{
    background-color: #5E747F;
    font-weight: bold;
    color: white;
}

.NavBar a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
}

.navbar-center{
    padding-left: 8vw
}

/* E5C1BD, D2D0BA, B6BE9C, 7B9E87 */