.SignupForm{
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    width: 25vw;
}

.SignupForm label{
    margin:5px;
}

.SignupForm input{
    margin: 0px 3px;
    border-radius: 5px;
    border: 1px solid black;
}

.input-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.submit-button {
    float: right;
    margin-top: 10px;
    background-color: #45565E;
    color: white;
}